Repository omarefg/product-collector, pull requests merged in 2020-03, with the labels that each got.

#15 Estructura base del proyecto en nodeJS
  backend/.env.example
  backend/.gitignore
  backend/config/index.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
Labels: Backend

#13 Next.js con soporte de typescript y stylus
  fronted/.eslintrc.js
  fronted/.gitignore
  fronted/next-env.d.ts
  fronted/next.config.js
  fronted/package-lock.json
  fronted/package.json
  fronted/pages/index.tsx
  fronted/styles/app.styl
  fronted/styles/libstyle/_border-radius.styl
  fronted/styles/libstyle/_reboot.styl
  fronted/styles/libstyle/_variables.styl
  fronted/styles/libstyle/index.styl
  fronted/tsconfig.json
Labels: Frontend

#32 configurar prettier-eslint
  backend/.eslintrc.json
  backend/.prettierrc.json
  backend/index.js
  backend/package-lock.json
  backend/package.json
Labels: Backend

#34 Peticion de Mocks
  backend/components/categories/routes.js
  backend/components/keywords/routes.js
  backend/components/products/routes.js
  backend/index.js
  backend/utils/mocks/categoriesMock.js
  backend/utils/mocks/keywordsMock.js
  backend/utils/mocks/productsMock.js
  backend/utils/network/response.js
Labels: Backend

#10 6 generate docker integration
  .env.example
  README.md
  bash/docker_services.bash
  bash/mongo.bash
  docker-compose.yml
  docker/mongo/Dockerfile
  docker/normalization/Dockerfile
  normalization/index.js
Labels: enhancement, infrastructure

#8 7 create authentication
  README.md
  bash/docker_services.bash
  normalization/.env.example
  normalization/config/index.js
  normalization/index.js
  normalization/lib/MongoLib.js
  normalization/lib/RedisLib.js
  normalization/package-lock.json
  normalization/package.json
  normalization/routes/auth.js
  normalization/services/AuthService.js
  normalization/services/users.js
  normalization/utils/token.js
Labels: Normalization, feature

#38 Configurar cliente de mongodb
  backend/.env.example
  backend/config/index.js
  backend/index.js
  backend/lib/mongo.js
  backend/package.json
  backend/scripts/mongo/seedCategories.js
  backend/scripts/mongo/seedKeywords.js
  backend/scripts/mongo/seedProducts.js
Labels: Backend

#40 Creación de scripts para insertar productsMock dentro de mongoAtlas
  backend/package-lock.json
Labels: Backend

#44 Scripts to insert categoriesMock and keywordsMock
  backend/scripts/mongo/seedCategories.js
  backend/scripts/mongo/seedKeywords.js
Labels: Backend

#55 [backend] finished #52 and #53 get amd getall method in mongodb library
  backend/lib/mongo.js
Labels: Backend

#68 creacion services modificacion routes metodos get post
  backend/components/products/productsService.js
  backend/components/products/routes.js
  backend/lib/mongo.js
Labels: Backend

#74 69-70 created categories routes and services
  backend/components/categories/categoriesService.js
  backend/components/categories/routes.js
  backend/components/keywords/keywordsService.js
  backend/components/keywords/routes.js
Labels: Backend

#49 error handler
  normalization/index.js
  normalization/routes/auth.js
  normalization/services/AuthService.js
  normalization/utils/middleware/errorHandlers.js
  normalization/utils/middleware/notFoundHandler.js
Labels: Normalization, enhancement

#75 [Backend] finished the #72 and #73 issues Created the keywords endpoints
  backend/components/keywords/keywordsService.js
  backend/components/keywords/routes.js
Labels: Backend

#80 64-65-66-67-79-Documentar-api-crear-update-delete-products
  backend/components/products/productsService.js
  backend/components/products/routes.js
  backend/helloworld.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/swagger.json
Labels: Backend

#82 [Norm] destructuring assignment object request in netwoks.js files
  normalization/components/auth/network.js
  normalization/components/data-manager/network.js
Labels: enhancement

#85 [Norm] Normalize data from backend using mock - week 3 March 2020
  normalization/components/data-manager/services.js
  normalization/utils/mocks/countriesMock.json
  normalization/utils/mocks/criteria.txt
  normalization/utils/mocks/dataFromBackend.json
  normalization/utils/mocks/dataToBackend.json
Labels: Normalization, data-collector

#88 [Norm][Done] DB statements are removed and environment variable is used
  normalization/.env.example
  normalization/components/auth/network.js
  normalization/components/auth/services.js
  normalization/components/data-manager/network.js
  normalization/components/data-manager/services.js
  normalization/config/index.js
  normalization/lib/MongoLib.js
  normalization/lib/RedisLib.js
  normalization/package-lock.json
  normalization/package.json
  normalization/utils/auxToken.js
  normalization/utils/token.js
Labels: Normalization, enhancement

#89 [first view] Struct base and product entry test
  normalization/components/auth/network.js
  normalization/components/data-manager/services.js
  normalization/index.js
  normalization/utils/auxToken.js
  normalization/utils/middleware/bodyDataHandler.js
  normalization/utils/middleware/tokenHandler.js
  normalization/utils/mocks/countriesMock.json
  normalization/utils/mocks/criteria.txt
  normalization/utils/mocks/dataFromBackend.json
  normalization/utils/mocks/dataToBackend.json
  normalization/utils/mocks/internalProductCategories.json
  normalization/utils/mocks/productSearchCriteria.json
Labels: Normalization, data-collector, enhancement, infrastructure
