Repository omarefg/product-collector, pull requests merged in 2020-04, with the labels that each got.

#94 Implementacion de graphql
  backend/.babelrc
  backend/.eslintrc.json
  backend/.vscode/settings.json
  backend/database.js
  backend/graphql/resolvers/Mutation.js
  backend/graphql/resolvers/Query.js
  backend/graphql/resolvers/index.js
  backend/graphql/schema.graphql
  backend/index.js
  backend/models/Products.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/swagger.json
  backend/utils/index.js
  backend/utils/mocks/productsMock.js
Labels: Backend

#97 [Backend] se ha agregado el API de criteria (get, create, delete)
  datamanager/Readme.md
  datamanager/criteria/.env.example
  datamanager/criteria/.gitignore
  datamanager/criteria/README.md
  datamanager/criteria/components/criteriaService.js
  datamanager/criteria/components/routes.js
  datamanager/criteria/config/index.js
  datamanager/criteria/lib/mongo.js
  datamanager/criteria/package-lock.json
  datamanager/criteria/package.json
  datamanager/criteria/server.js
  datamanager/criteria/utils/arrayUtils.js
Labels: Backend, data-collector

#98 [Backend] Se realizaron los procesos para obtencion de links desde criteria y de insertar productos en una bd de mongo
  datamanager/mercadoLibre/.env.example
  datamanager/mercadoLibre/.gitignore
  datamanager/mercadoLibre/README.md
  datamanager/mercadoLibre/config/index.js
  datamanager/mercadoLibre/createLinks.js
  datamanager/mercadoLibre/createProducts.js
  datamanager/mercadoLibre/functions.js
  datamanager/mercadoLibre/lib/mongo.js
  datamanager/mercadoLibre/package-lock.json
  datamanager/mercadoLibre/package.json
  datamanager/mercadoLibre/services/productsService.js
Labels: Backend, data-collector

#101 [Norm] normalize ML and Amazon using filters in criteria products (2020-04-05)
  normalization/components/data-manager/network.js
  normalization/components/data-manager/services.js
  normalization/lib/AmazonLib.js
  normalization/lib/MercadoLibreLib.js
  normalization/lib/SourceLib.js
  normalization/utils/mocks/countriesMock.json
  normalization/utils/mocks/dataFromBackendAMZ.json
  normalization/utils/mocks/dataFromBackendML.json
  normalization/utils/mocks/dataFromBackendPCGOOGLE-Large.json
  normalization/utils/mocks/dataFromBackendPCGOOGLE.json
  normalization/utils/mocks/dataToBackend.json
  normalization/utils/mocks/dataToBackendAMZ.json
  normalization/utils/mocks/dataToBackendML.json
  normalization/utils/mocks/productSearchCriteria.json
  normalization/utils/schemas/normalizeSchema.js
Labels: Normalization, feature

#105 Add query for productscountbycountry
  backend/graphql/resolvers/Query.js
  backend/graphql/schema.graphql
  backend/utils/mocks/productsMock.js
Labels: Backend

#104 [Norm] Back to the Past - response is an array of objects
  normalization/lib/AmazonLib.js
  normalization/lib/MercadoLibreLib.js
  normalization/lib/SourceLib.js
  normalization/utils/mocks/dataToBackendAMZ.json
  normalization/utils/mocks/dataToBackendML.json
Labels: Normalization, enhancement

#106 [Backend] Modificacion de proceso de envio de información de Mercado libre a normalizacion
  datamanager/mercadoLibre/.env.example
  datamanager/mercadoLibre/config/index.js
  datamanager/mercadoLibre/createLinks.js
  datamanager/mercadoLibre/index.js
  datamanager/mercadoLibre/sendProducts.js
  datamanager/mercadoLibre/services/productsService.js
  datamanager/package-lock.json
Labels: Backend, data-collector

#108 prepared for deploy
  normalization/.gitignore
  normalization/now.json
Labels: infrastructure

#111 110-Add-aggregation-by-day-month-and-year-REST-GRAPHQL
  backend/.gitignore
  backend/graphql/resolvers/Query.js
  backend/graphql/resolvers/index.js
  backend/graphql/schema.graphql
  backend/index.js
  backend/now.json
  backend/package-lock.json
  backend/package.json
  backend/utils/mocks/productsMock.js
Labels: Backend

#115 [Backend] Modificacion de cadena de envio a normalizacion
  datamanager/mercadoLibre/.env.example
  datamanager/mercadoLibre/config/index.js
  datamanager/mercadoLibre/index.js
  datamanager/mercadoLibre/sendProducts.js
  datamanager/mercadoLibre/services/productsService.js
Labels: Backend, data-collector

#117 116-Add-second-parameter-for-input-dates
  backend/graphql/resolvers/Query.js
  backend/graphql/schema.graphql
Labels: Backend

#120 119-Add-more-fields-schema-for-insertMany-products
  backend/components/products/productsService.js
  backend/components/products/routes.js
  backend/lib/mongo.js
  backend/package-lock.json
  backend/package.json
  backend/utils/schema/productsSchema.js
  package-lock.json
Labels: Backend

#121 [Backend] se agrego la funcion que realizara la autenticacion y el envio de informacion a normalizacion
  datamanager/.env.example
  datamanager/auth/index.js
  datamanager/config/index.js
  datamanager/package-lock.json
  datamanager/package.json
Labels: Backend, data-collector

#132 Se actualizo el envio de informacion a normalizacion
  datamanager/auth/MockML.js
  datamanager/auth/index-cli.js
  datamanager/auth/index.js
  datamanager/mercadoLibre/sendProducts.js
  datamanager/mercadoLibre/services/productsService.js
Labels: Backend, Normalization

#134 [Backend]Se agregaron entradas al .env y se corrigieron conexiones del datamanager de MercadoLibre
  datamanager/.env.example
  datamanager/auth/index.js
  datamanager/config/index.js
  datamanager/lib/mongo.js
  datamanager/lib/mongo.old.js
  datamanager/mercadoLibre/.env.example
  datamanager/mercadoLibre/config/index.js
  datamanager/mercadoLibre/error.json
  datamanager/mercadoLibre/error.txt
  datamanager/mercadoLibre/sendProducts.js
  datamanager/mercadoLibre/services/productsService.js
Labels: Backend, Normalization

#136 [Normalization] fix bug, absent some fields killed app - data of MercadoLibre
  normalization/src/lib/MercadoLibreLib.js
Labels: Normalization, bug, data-collector

#141 Query distinct keyword and countries and delete mutation
  backend/ApiREST/README.md
  backend/ServerGraphlQL/README.md
  backend/ServerGraphlQL/graphql/resolvers/Query.js
  backend/ServerGraphlQL/graphql/resolvers/index.js
  backend/ServerGraphlQL/graphql/schema.graphql
  backend/ServerGraphlQL/index.js
  backend/ServerGraphlQL/models/Products.js
  backend/ServerGraphlQL/package-lock.json
  backend/ServerGraphlQL/server.js
  package-lock.json
Labels: Backend

#142 Remove countries accent marks
  normalization/src/lib/AmazonLib.js
  normalization/src/lib/MercadoLibreLib.js
  normalization/src/utils/grammar.js
Labels: Normalization, bug
